*{

    /*background-color: teal;*/
    margin: 10px;
    background-image: url(1D3.png);
    opacity: 0.9;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

h1{
    color: aqua;
    text-align: center;
    font-size: smaller;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: aqua;
    font-family:'Lucida Grande';
    font-size: larger;
   
}
.frontline{
    text-align: center;

}

.harry{
    color:rgb(237, 245, 245);
    border: 1px solid white;
    
}
body{
    color: azure;
}
a{
    color: aqua;
}
a:hover{
    color: rgb(121, 247, 247);
    text-underline-position: auto;
}
.liam{
    border: 1px solid white;
}

.Louise{
    border: 1px solid white;

}
#harry{
    margin-right: 200px;
}
