*{

    /*background-color: teal;*/
    margin: 10px;
    background-image: url(fband.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

h1{
    color: aqua;
    text-align: center;
    font-style: italic;
    font-size:medium;
}

h2{
    color: aqua;
    font-family:'Lucida Grande';
    font-size: larger;
    font-family:Lucida sans-serif;  
    padding-left: 20px; 
}
.frontline{
    text-align: center;

}
.frontline2{
    padding-left: 20px;
}
#frontlinepost{

    background-image: url(music2.jpg);
    background-repeat: repeat;
    font-size: larger;
    font-style: oblique;

}

.harry{
    color:rgb(237, 245, 245);
    border: 0.5px solid aqua;

}
.liam{
    border: 0.5px solid aqua;
}

.Louise{
    border: 0.5px solid aqua;
}
body{
    color: azure;
}
a{
    color: aqua;
}
a:hover{
    color: rgb(248, 7, 7);
    text-underline-position: auto;
}
a:active{
    color: antiquewhite;
}

#harry{
    margin-right: 200px;
    margin-left: 10px;
 }
ol{
    font-size: large;
}
.navigation{
    background-color: rgb(5, 1, 31);
    color: azure;
    
}

.navigation li{
    text-decoration:none;
    list-style: none;
    display:inline-block;
    margin: 10px;   
    padding: 1px 60px;
    font-size: 15px;
    /* border: 1px solid aqua; */
    list-style-type:none;
    
    /* float: left; */
}

.navigation ul{

    border:1px solid aqua;
    background-color: navy;
    
}
.navigation li a{
    text-decoration: none;
}
#nav{
    background-color: black;    

} 
ul{
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    padding-left: 15px;
}
.navigation li a:hover{
    text-decoration: underline;
    border: 0.5px solid rgb(1, 27, 27);
    border-width: 10px;
    color:rgb(8, 230, 200);
}